@inherits LayoutComponentBase
@layout MainLayout

<div class="sub-layout">
    <div class="top-bar"> 
        <h1> Here is the header </h1>
    </div>

    <div class="content">
        @Body
    </div>
</div>