@inherits LayoutComponentBase
@layout MainLayout

<div class="sub-layout">
    <div class="top-bar"> 
        <div class="nav-item">
            <NavLink class="nav-link" href="food" Match="NavLinkMatch.All">
                <span> Menu </span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="food/diets">
                <span> Diets </span>
            </NavLink>
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>