@namespace Client.Components

@* This component represents the selector of the day, for which we want to see the menu  *@
@* It consists of two buttons that can control what date we want to view and also the displayed date in between the buttons *@

<div class="date-selector">
    <button class="btn btn-primary" @onclick="() => ChangeDate(-1)"> &lt; </button>
    <span class="btn-companion"> @CurrentDate </span>
    <button class="btn btn-primary" @onclick="() => ChangeDate(1)"> &gt; </button>
</div>

@code
{
    // If the date was changed, we want to notify the parent component and pass to it the new value of the current date
    private void ChangeDate(int amount)
    {
        CurrentDateChanged.InvokeAsync(CurrentDate.AddDays(amount));
    }

    // Following two properties are used for two way binding to the CurrentDate property using @bind-CurrentDate
    [Parameter]
    public DateOnly CurrentDate { get; set; }

    // This event represents a change in CurrentDate value to which the parent component will bind
    [Parameter]
    public EventCallback<DateOnly> CurrentDateChanged { get ; set; }

}