@namespace Client.Components

@* Modal that asks the user if he/she really wants to delete the meal from the menu *@

<div class="modal-div">
    <div class="modal-text"> Are you sure you want to delete @CurrentMeal.Name ? </div>
    <div class="modal-buttons">
        <button class="btn btn-primary" @onclick="OnDeleteButton"> Yes </button>
        <button class="btn btn-primary" @onclick="OnRejectButton"> No </button>
    </div>
</div>

@code {

    // Holds reference to the meal that is asked to be deleted by user
    [Parameter]
    public required MealDto CurrentMeal { get; set; }

    // Callback, to which the parent will bind its handler function
    // This component passes the id of the meal to be deleted to the parent component
    [Parameter]
    public EventCallback<int> OnDeleteMeal { get; set; }

    // Callback, which the parent handles by hiding this modal
    [Parameter]
    public EventCallback OnRejectButton { get; set; }

    // If delete button was pressed, we want to trigger the parent handler bound to OnDeleteMeal with the current meal id
    private void OnDeleteButton()
    {
        OnDeleteMeal.InvokeAsync(CurrentMeal.Id);
    }
}