@page "/participants/add"
@inject HttpClient Http

@if (formSubmitted)
{
    <h1> Successfully added a participant! </h1>
    <button class="btn btn-primary" @onclick="() => {formSubmitted = false;}"> Add another participant  </button>
}
else
{
    <h1> Add a participant </h1>
    <ParticipantForm @bind-ThisParticipant="participantData" OnValidSubmitEvent="SaveParticipant"/> // Use my custom component with 2-way-binding to its value
}

@code
{
    // We initialize the participant to empty participant at the start
    private ParticipantFormData participantData = new();

    // Use this to render different content based on if the form was successfully submitted or not
    private bool formSubmitted = false;
    
    // Connects to my api and posts the participant that was submitted to the form
    private void SaveParticipant()
    {
        Http.PostAsJsonAsync<Participant>("/api/participants/add",participantData.ConvertToApiParticipant(),CancellationToken.None);
        formSubmitted = true;
        participantData = new();
    }
}