@page "/addparticipant"
@using Shared
@using System.Reflection
@inject HttpClient Http

<PageTitle>Add participant</PageTitle>

<h1> Add a participant </h1>

@foreach (PropertyInfo propInfo in typeof(Participant).GetProperties())
{   
    @if (@propInfo.Name != typeof(Participant).GetProperties()[0].Name) // we don't want the key property to be set by user
    {
        <div>
            <span> @propInfo.Name: </span>
            <input type="text" @onchange="(ChangeEventArgs e) => HandleTextbox(e,propInfo)">
        </div>
    } 
}

<br><br>

<button @onclick="SaveParticipant"> Add participant </button>

<br><br>

<p> @outputMessage </p>

@code
{

    private string outputMessage;

    private Participant participantToAdd = new Participant();

    private void HandleTextbox(ChangeEventArgs e, PropertyInfo property)
    {
        Type targetType = property.PropertyType;
        try
        {
            object converted = Convert.ChangeType(e.Value,targetType);
            property.SetValue(participantToAdd,converted);
            outputMessage = "Success";
        }
        catch (Exception ex)
        {
            outputMessage = "Invalid cast";
        }
  
    }
    private void SaveParticipant()
    {

        Http.PostAsJsonAsync<Participant>("/api/participants",participantToAdd,CancellationToken.None);
    }

}