@page "/food/diets"
@layout SubLayout

<div class="div-table-container">
    <div class="div-table-container-header"> <span> Diets </span> </div>
    @if (participantDtos != null)
    {

        <p> Loading participants... </p>
    }
    <div class="div-table">
        <div class="div-table-header">
            <div> First name </div>
            <div> Last name </div>
            <div> Diets </div>
        </div>
    </div>
</div>


@code
{

    private List<ParticipantDto>? participantDtos;

    protected override async Task OnInitializedAsync()
    {

    }
}