@page "/food/diets"
@layout SubLayout
@inject HttpClient Http

<div class="div-table-container">
    <div class="div-table-container-header"> <span> Diets </span> </div>
    <div class="div-table">
        <div class="div-table-header">
            <div> First name </div>
            <div> Last name </div>
            <div> Diets </div>
        </div>
        @if (participantDtos == null)
        {
            <div class="div-table-row">
                <span> Loading participants... </span>
            </div>
        }
        else
        {
            @foreach(var participant in participantDtos)
            {
                <div class="div-table-row">
                    <div> @participant.FirstName </div>
                    <div> @participant.LastName </div>
                    <div>
                        @foreach(var diet in participant.Diets)
                        {
                            <span> @diet.Name,  </span>
                        }
                    </div>
                    <button class="btn btn-primary"> Edit diets </button>
                </div>
            }
        }
    </div>

</div>


@code
{

    private List<ParticipantDto>? participantDtos;

    protected override async Task OnInitializedAsync()
    {
        participantDtos = await Http.GetFromJsonAsync<List<ParticipantDto>>("/api/participants/all");
    }
}