@page "/participants/edit/{participantId:int}"
@inject HttpClient Http

<PageTitle> Edit participant </PageTitle>

@if (participant != null)
{
    <h1> Edit participant </h1>
    <ParticipantForm @bind-ThisParticipant="participant" OnValidSubmitEvent="UpdateParticipant"> Edit participant </ParticipantForm>
    if (updated)
    {
        <p style="color:green"> Update successful </p>
    }
}
else
{
    <p> Loading... </p>
}

@code
{
    private bool updated = false;

    [Parameter]
    public int ParticipantId {get ; set; }

    ParticipantFormData? participant;

    protected override async Task OnInitializedAsync()
    {
        Participant? content = await Http.GetFromJsonAsync<Participant>($"/api/participants/{ParticipantId}");
        participant = content!.ConvertToViewParticipant();
        
    }

    private void UpdateParticipant()
    {
        Http.PostAsJsonAsync<Participant>($"/api/participants/edit/{ParticipantId}",participant!.ConvertToApiParticipant(ParticipantId),CancellationToken.None);
        updated = true;
    }
}