@page "/food"
@inject HttpClient Http
@layout SubLayout
@inject IJSRuntime JSRuntime

<Modal @ref="addFoodModal" />

<DateSelector @bind-CurrentDate="currentDate" @bind-CurrentDate:after="LoadMeals"> </DateSelector>

@if (meals == null)
{
    <p> Loading... </p>
}
else
{
    <MealTimeContainer Date="currentDate" MealTime="MealTime.Lunch" Meals="meals" OnAddFoodButtonClicked="ShowAddFoodModal"> </MealTimeContainer>
    <MealTimeContainer Date="currentDate" MealTime="MealTime.Dinner" Meals="meals" OnAddFoodButtonClicked="ShowAddFoodModal"> </MealTimeContainer>
}

@code
{
    private DateOnly currentDate;

    protected override async Task OnInitializedAsync()
    {
        currentDate = new DateOnly(2024,09,03);
        await LoadMeals();
        await LoadAllergens();
        await LoadMealTypes();
    }

    private IEnumerable<Allergen>? allAllergens;

    private IEnumerable<string>? mealTypes;

    private IQueryable<MealDto>? meals;
    private async Task LoadMeals()
    {
        meals = null;
        var dateString = currentDate.ToString("yyyy-MM-dd");
        Console.WriteLine(dateString);
        var mealsList = await Http.GetFromJsonAsync<List<MealDto>>($"api/meals/{dateString}");
        meals = mealsList!.AsQueryable();
    }

    private async Task LoadAllergens()
    {
        allAllergens = await Http.GetFromJsonAsync<List<Allergen>>("api/allergens/all");
    }

    private async Task LoadMealTypes()
    {
        mealTypes = await Http.GetFromJsonAsync<List<string>>("api/meals/meal-types");
        foreach(var mealType in mealTypes!) Console.WriteLine(mealType);
    }

    private Modal addFoodModal = default!;

    private async Task ShowAddFoodModal()
    {
        var parameters = new Dictionary<string,object>();
        parameters.Add("AllAllergens",allAllergens!);
        parameters.Add("MealTypes",mealTypes!);
        await addFoodModal.ShowAsync<AddFoodModal>(title: "Add meal", parameters:parameters);
    }

}