@page "/food"
@layout SubLayout

<h3> This is my food page </h3>
<DateSelector @bind-CurrentDate="currentDate"> </DateSelector>
<p> Current date: @currentDate </p>

@code
{
    private DateOnly currentDate;

    protected override void OnInitialized()
    {
        currentDate = new DateOnly(2000,09,03);
    }
}