@page "/participants/all"
@using Shared
@inject HttpClient Http

<PageTitle> Participants </PageTitle>

<h1> Participants </h1>

@if (participants == null)
{
    <p> Loading participants... </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var property in typeof(Participant).GetProperties())
                {
                    <th> @property.Name </th>
                }
            </tr>
        </thead>
        <tbody> 
            @foreach (var participant in participants)
            {
                <tr>
                    @foreach (var property in typeof(Participant).GetProperties())
                    {
                        <td> @property.GetValue(participant) </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private List<Participant>? participants;

    protected override async Task OnInitializedAsync()
    {
        participants = await Http.GetFromJsonAsync<List<Participant>>("api/participants");
    }
    
}