@using Shared

<label> Meal name: </label> <br/>
<input type="text" /> <br/> <br/>

<label> Meal type: </label> <br/>
@foreach (var mealType in MealTypes!)
{
    <input type="radio"> <label> @mealType </label> <br/>
}
<br/>

<label> Allergens: </label> <br/>
@foreach (var allergenSelection in allergenSelections!)
{
    <input type="checkbox" @bind="allergenSelection.IsSelected" /> <label> @allergenSelection.Name </label> <br/>
}

<button type="submit" class="btn btn-primary"> Add meal </button> <br/>

<span> Selected allergens: </span>
@foreach (var selected in allergenSelections!.Where(selection => selection.IsSelected))
{
    <span> @selected.Name </span>
}

@code
{
    private IList<AllergenSelection>? allergenSelections;

    [Parameter]
    public IEnumerable<Allergen>? AllAllergens { get; set; }

    [Parameter]
    public IEnumerable<string>? MealTypes { get; set; }

    private class AllergenSelection
    {
        public required string Name { get; init; }
        public bool IsSelected { get; set; }
    }

    protected override void OnInitialized()
    {
        allergenSelections = AllAllergens!.Select(allergen => new AllergenSelection() {Name = allergen.Name}).ToList();
    }
}