@using Shared
@* This component represents a simple modal for confirming actions on participants *@

<div class="modal-div">
    <p> Are you sure you want to delete this participant? </p>
    <div class="modal-buttons">
        <button class="btn btn-primary"> Yes </button>
        <button class="btn btn-primary"> No </button>
    </div>
</div>

@code {

}