<div>
    <button class="btn btn-primary" @onclick="() => ChangeDate(-1)"> &lt; </button>
    <span class="btn-companion"> @CurrentDate </span>
    <button class="btn btn-primary" @onclick="() => ChangeDate(1)" > &gt; </button>
</div>

@code
{
    private void ChangeDate(int amount)
    {
        CurrentDateChanged.InvokeAsync(CurrentDate.AddDays(amount));
    }

    [Parameter]
    public DateOnly CurrentDate { get; set; }

    [Parameter]
    public EventCallback<DateOnly> CurrentDateChanged { get ; set; }

}