@* This component represents two buttons that can control what date we want to view and also the displayed date in between the buttons *@

<div @attributes="AdditionalAttributes">
    <button class="btn btn-primary" @onclick="() => ChangeDate(-1)" style="margin-right: 5px"> &lt; </button>
    <span class="btn-companion"> @CurrentDate </span>
    <button class="btn btn-primary" @onclick="() => ChangeDate(1)" style="margin-left: 5px"> &gt; </button>
</div>

@code
{
    // If the date was changed, we want to notify the parent component and pass it the new value of the current date
    private void ChangeDate(int amount)
    {
        CurrentDateChanged.InvokeAsync(CurrentDate.AddDays(amount));
    }

    // Following properties are used when binding to them
    [Parameter]
    public DateOnly CurrentDate { get; set; }

    [Parameter]
    public EventCallback<DateOnly> CurrentDateChanged { get ; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string,object>? AdditionalAttributes { get; set; }

}