@using Shared
@* This component represents a simple modal for confirming actions on participants *@

<div class="modal-div">
    <p> Are you sure you want to delete @CurrentParticipant.FirstName @CurrentParticipant.LastName? </p>
    <div class="modal-buttons">
        <button class="btn btn-primary" @onclick="OnDeleteButton"> Yes </button>
        <button class="btn btn-primary" @onclick="OnRejectButton"> No </button>
    </div>
</div>

@code {

    [Parameter]
    public required Participant CurrentParticipant { get; set; }

    [Parameter]
    public EventCallback<int> OnDeleteParticipant { get; set; }

    [Parameter]
    public EventCallback OnRejectButton { get; set; }

    // We want to invoke the method that connected to the OnDeleteParticipant EventCallback with the current participant id
    private void OnDeleteButton()
    {
        OnDeleteParticipant.InvokeAsync(CurrentParticipant.Id);
    }
}