<Dropdown Color="DropdownColor.Secondary" Direction="DropdownDirection.Dropup" AutoCloseBehavior="DropdownAutoCloseBehavior.Outside" Size="DropdownSize.Small">
    <DropdownToggleButton> Filter diets </DropdownToggleButton>
    <DropdownMenu Class="px-3" Style="width:150px;">
        @foreach (var dietSelection in FilterDietSelections)
        {
            <label> <input type="checkbox" @bind="dietSelection.IsSelected" @bind:event="oninput"> @dietSelection.Name </label> <br/>
        }
    </DropdownMenu>
</Dropdown>

@code
{
    [Parameter, EditorRequired]
    public required List<AllergenSelection> FilterDietSelections { get; set; }
}
