@* This component will hold meals of given type for given date *@
@using Microsoft.AspNetCore.Components.QuickGrid

<div>
    <h2> @MealTime</h2>
    <QuickGrid Items="@Meals!.Where(m => m.MealTime == MealTime)" class="table quickgrid"> 
        <PropertyColumn Property="@(m => m.Name)"  />
        <PropertyColumn Property="@(m => m.Type)" IsDefaultSortColumn="true" />
    </QuickGrid>
</div>

@code
{
    [Parameter]
    public DateOnly Date { get; set; }

    [Parameter]
    public MealTime MealTime { get; set; }

    [Parameter]
    public IQueryable<MealDto>? Meals { get; set; }
}