.meal-type-container {
    border-radius:5px; 
    border: 2px solid black; 
    margin: 10px 0px 10px 0px;
}

.meal-type-header {
    display:flex; 
    align-items:center; 
    background-color:rgb(185, 185, 185);
}

.meal-type-header > span {
    margin-left: 10px;
    font-size: x-large;
}




